<!DOCTYPE html>
<html lang="en">

 {% include "head.njk" %}

<body>
  <main class="ui container">
    {{ content | safe }}
  </main>

<script>
  let clipboard = new ClipboardJS('.btn');

  clipboard.on('success', function(e) {
      console.info('Action:', e.action);
      console.info('Text:', e.text);
      console.info('Trigger:', e.trigger);

      e.clearSelection();
  });

  clipboard.on('error', function(e) {
    console.error('Action:', e.action);
    console.error('Trigger:', e.trigger);
  });
  
</script>
</body>
</html>