<div class="ui secondary menu">
  <a href="{{ '/' | url }}" class="{% if page.url == '/' %}active{% endif %} item">Home</a>
  <a href="{{ '/formatter/' | url }}" class="{% if page.url == '/formatter/' %}active{% endif %} item">Frmttr</a>
  <a href="{{ '/na-req/' | url }}" class="{% if page.url == '/na-req/' %}active{% endif %} item">NA</a>
</div>